

<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout i18n("articleNew.pageTitle")>


<script defer type="text/javascript">
	$(window).load(function() {
		tinyMCE.init({
			mode : "textareas"
		});
	});
</script>


<div class="container">

	<h1>${i18n("Update Book")}</h1>

	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-8">
			<form action="/update/${book.id}" method="post" class="form-horizontal" role="form">

               

                  <div class="form-group">
                    <label for="book_title" class="col-lg-2 control-label">${i18n("New Title")}</label>
                    <div class="col-lg-10">
                        <input type="text" name="book_title" id="book_title" value="${book.book_title}" class="form-control"/>
                    </div>
                </div>
               <div class="form-group">
                    <label for="book_price" class="col-lg-2 control-label">${i18n("New Price")}</label>
                    <div class="col-lg-10">
                        <input type="text" name="book_price" id="book_price" value="${book.book_price}" class="form-control"/>
                    </div>
               </div>
				<input type="submit" value="${i18n("Update Details")}" class="btn btn-success pull-right" />
			
			</form>

		</div>

	</div>
</div>


</@layout.myLayout>
